:root {
  --transition: all 0.3s ease-in-out;
  --color-black: #1f1f1f;
  --color-white: #f4f4f4;
  --font-primary: "Poppins", "Calibri", "Segoe UI", sans-serif;
  --size--1: clamp(0.8333rem, 0.7881rem + 0.226vi, 1rem);
}