:root {
  --transition: all 0.3s ease-in-out;
  --color-black: #1f1f1f;
  --color-white: #f4f4f4;
  --font-primary: "Poppins", "Calibri", "Segoe UI", sans-serif;
  --size--1: clamp(0.8333rem, 0.7881rem + 0.226vi, 1rem);
}

.btn {
  position: relative;
  display: inline-block;
  padding: 1rem 2rem;
  font-family: var(--font-primary);
  font-size: var(--size--1);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-white);
  background: var(--color-black);
  border: 1px solid var(--color-white);
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
  text-decoration: none;
  transition: var(--transition);
}

.btn:hover {
  transform: translateY(2px);
}

.tire-track {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='105.735' height='313.29'%3E%3Cpath d='M0 0v74.222h15.273L27.876 0ZM0 239.069v74.221h27.876l-12.6-74.222ZM0 187.091v43.15h32.406l-21.663-43.15ZM0 83.047v43.149h32.406L10.743 83.047ZM0 135.072v43.148h10.743l21.663-43.148ZM37.594 0 24.988 74.222h43.15L80.743 0ZM24.988 239.069l12.6 74.222h43.148l-12.6-74.222ZM20.462 187.09l21.662 43.149h43.149L63.611 187.09ZM85.274 126.196 63.611 83.048H20.462l21.662 43.148ZM42.125 135.072 20.462 178.22h43.149l21.663-43.148ZM90.461 0l-12.6 74.222h27.875V0ZM77.859 239.069l12.6 74.222h15.273v-74.222ZM73.329 187.091l21.663 43.15h10.743v-43.15ZM73.329 83.047l21.663 43.149h10.743V83.047ZM94.992 135.072 73.329 178.22h32.406v-43.148Z'/%3E%3C/svg%3E");
  background-repeat: repeat-x;
  background-size: contain;
  transform: rotate(-35deg);
  mask-image: linear-gradient(90deg, black 50%, transparent 0%);
  mask-size: 200% 200%;
  mask-position: 100% 100%;
  opacity: 0;
  z-index: -1;
  transition: var(--transition);
}

.btn:hover .tire-track {
  opacity: 1;
  mask-position: 0 0;
}

.btn .text {
  position: relative;
  z-index: 1;
  transition: var(--transition);
}

.btn:hover .text {
  transform: scale(1.1);
}